[submodule "librelane"]
	path = librelane
	url = https://github.com/librelane/librelane
[submodule "pdk"]
	path = pdk
	url = https://github.com/IHP-GmbH/IHP-Open-PDK.git
[submodule "riscv"]
	path = riscv
	url = https://github.com/ultraembedded/riscv.git
[submodule "src/interface/croc"]
	path = src/interface/croc
	url = https://github.com/pulp-platform/croc.git
