meta:
  version: 3
  flow: Chip
  substituting_steps:
  
    # Magic reports some overlaps which can be ignored
    Checker.IllegalOverlap: null
    # Not working correctly
    KLayout.SealRing: null
    # Disable magic DRC 
    Magic.DRC: null
    Checker.MagicDRC: null
    # Disable KLayout density check
    KLayout.Density: null
    Checker.KLayoutDensity: null


    # you can uncomment this for the flow to be faster. Comment it again in the final run.
    #KLayout.DRC: null
    #Checker.KLayoutDRC: null

    # you can uncomment this for the flow to be faster. Comment it again in the final run.
    #KLayout.Antenna: null
    #Checker.KLayoutAntenna: null
    
    # you can uncomment this for the flow to be faster. Comment it again in the final run.
    #OpenROAD.IRDropReport: null
    #KLayout.XOR: null
    #Netgen.LVS: null
    #Checker.LVS: null

DESIGN_NAME: top
VERILOG_FILES:
- src/top.sv
- src/chip.sv
USE_SLANG: true

CLOCK_PERIOD: 10
CLOCK_PORT: clk_PAD

FP_SIZING: absolute
DIE_AREA: [0, 0, 1200, 1200]
CORE_AREA: [358.00, 358.00, 842, 842]

PDN_CORE_RING: true
PDN_CORE_RING_CONNECT_TO_PADS: true
MAGIC_EXT_UNIQUE: "notopports"
PDN_ENABLE_PINS: false
PDN_CORE_RING_VWIDTH: 15
PDN_CORE_RING_HWIDTH: 15
PDN_VPITCH: 50
PDN_HPITCH: 50
PDN_VWIDTH: 3.5
PDN_HWIDTH: 3.5

VDD_NETS: ["VDD"]
GND_NETS: ["VSS"]

GRT_ALLOW_CONGESTION: true
IGNORE_DISCONNECTED_MODULES:
- bondpad_70x70
EXTRA_GDS: 
- dir::bondpad/bondpad_70x70.gds
EXTRA_LEFS:
- dir::bondpad/bondpad_70x70.lef

PAD_SOUTH: [
  #complete this
]

PAD_EAST: [
  #complete this
]

PAD_NORTH: [
  #complete this
]

PAD_WEST: [
  #complete this
]

MACROS:
  "controller":
    #complete this

  "adder":
    #complete this

  "bcd_converter":
    #complete this

  "seven_segment":
    #complete this

PDN_MACRO_CONNECTIONS: 
#complete this